button{

    width: 150px;
    height: 50px;
    margin-top: 40px;
    background-color: rgb(92, 205, 92);
    color: aliceblue;
    border: 5px;
    border-radius: 5px;
    
}

h1{

    font-family: monospace;
    color: blueviolet;

}
body{

    background-color: aquamarine;
}